<div class="newsletter-subscribe">
 <div class="newsletter-subscribe__header">
 <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
 <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"/>
 <polyline points="22,6 12,13 2,6"/>
 </svg>
 <h3>{{ i18n.t('newsletter.subscribe.title') }}</h3>
 </div>
 <p class="newsletter-subscribe__desc">{{ i18n.t('newsletter.subscribe.description') }}</p>

 @if (subscribed()) {
 <div class="newsletter-subscribe__success">
 <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
 <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"/>
 <polyline points="22 4 12 14.01 9 11.01"/>
 </svg>
 {{ i18n.t('newsletter.subscribe.checkEmail') }}
 </div>
 } @else {
 <form class="newsletter-subscribe__form" [formGroup]="subscribeForm" (ngSubmit)="subscribe()">
 <input
 type="email"
 formControlName="email"
 [placeholder]="i18n.t('newsletter.subscribe.placeholder')"
 class="newsletter-subscribe__input"
 [attr.disabled]="submitting() ? '' : null"
 />
 <button
 type="submit"
 class="newsletter-subscribe__btn"
 [disabled]="subscribeForm.invalid || submitting()"
 >
 @if (submitting()) {
 <span class="spinner"></span>
 } @else {
 {{ i18n.t('newsletter.subscribe.button') }}
 }
 </button>
 <label class="newsletter-subscribe__consent">
  <input type="checkbox" formControlName="analyticsConsent" />
  <span>{{ i18n.t('newsletter.subscribe.analyticsConsent') }}</span>
 </label>
 <p class="newsletter-subscribe__disclosure">
  {{ i18n.t('newsletter.subscribe.privacyDisclosure') }}
  <a routerLink="/privacy">{{ i18n.t('newsletter.subscribe.privacyLink') }}</a>.
 </p>
 </form>
 }
</div>
